body
{
    background: #14504a url("assets/bg_spring.png");
    background-attachment: fixed;
    background-position-x: 50%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
